# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
simple_chatapp/build/f4da31578bf74e160393d588ebd02ee2.cache.dill.track.dill
simple_chatapp/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_build.d
simple_chatapp/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
simple_chatapp/build/app/outputs/apk/debug/app-debug.apk
simple_chatapp/build/app/outputs/flutter-apk/app-debug.apk
simple_chatapp/build/app/outputs/flutter-apk/app-debug.apk.sha1
simple_chatapp/build/.last_build_id
simple_chatapp/build/f4da31578bf74e160393d588ebd02ee2.cache.dill.track.dill
simple_chatapp/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_build.d
simple_chatapp/build/app/intermediates/flutter/debug/libs.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
simple_chatapp/build/f4da31578bf74e160393d588ebd02ee2.cache.dill.track.dill
simple_chatapp/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_build.d
simple_chatapp/build/app/intermediates/flutter/debug/libs.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
simple_chatapp/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
simple_chatapp/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/3AeRwZ2mkH76UHedCg9QH1B3fBg=
simple_chatapp/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/gB8Q7f3a0+hytqEJDDwSocQssrI=
simple_chatapp/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
simple_chatapp/build/app/kotlin/compileDebugKotlin/cacheable/last-build.bin
simple_chatapp/build/app/kotlin/compileDebugKotlin/local-state/build-history.bin
simple_chatapp/build/app/outputs/apk/debug/app-debug.apk
simple_chatapp/build/app/outputs/flutter-apk/app-debug.apk
simple_chatapp/build/app/outputs/flutter-apk/app-debug.apk.sha1
simple_chatapp/build/flutter_assets/AssetManifest.bin
simple_chatapp/build/flutter_assets/AssetManifest.json
simple_chatapp/build/flutter_assets/FontManifest.json
simple_chatapp/build/flutter_assets/kernel_blob.bin
simple_chatapp/build/flutter_assets/NOTICES.Z
simple_chatapp/build/flutter_assets/fonts/MaterialIcons-Regular.otf
simple_chatapp/build/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
simple_chatapp/build/flutter_assets/shaders/ink_sparkle.frag
simple_chatapp/build/windows/x64/ALL_BUILD.vcxproj
simple_chatapp/build/windows/x64/ALL_BUILD.vcxproj.filters
simple_chatapp/build/windows/x64/cmake_install.cmake
simple_chatapp/build/windows/x64/CMakeCache.txt
simple_chatapp/build/windows/x64/install_manifest.txt
simple_chatapp/build/windows/x64/INSTALL.vcxproj
simple_chatapp/build/windows/x64/INSTALL.vcxproj.filters
simple_chatapp/build/windows/x64/start.sln
simple_chatapp/build/windows/x64/ZERO_CHECK.vcxproj
simple_chatapp/build/windows/x64/ZERO_CHECK.vcxproj.filters
simple_chatapp/build/windows/x64/CMakeFiles/cmake.check_cache
simple_chatapp/build/windows/x64/CMakeFiles/CMakeConfigureLog.yaml
simple_chatapp/build/windows/x64/CMakeFiles/generate.stamp
simple_chatapp/build/windows/x64/CMakeFiles/generate.stamp.depend
simple_chatapp/build/windows/x64/CMakeFiles/generate.stamp.list
simple_chatapp/build/windows/x64/CMakeFiles/TargetDirectories.txt
simple_chatapp/build/windows/x64/CMakeFiles/0be854e7b70f7d4a8733553ba8fd1f69/flutter_windows.dll.rule
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CMakeCXXCompiler.cmake
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CMakeDetermineCompilerABI_CXX.bin
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CMakeRCCompiler.cmake
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CMakeSystem.cmake
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/VCTargetsPath.txt
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/VCTargetsPath.vcxproj
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CompilerIdCXX.exe
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CompilerIdCXX.vcxproj
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
simple_chatapp/build/windows/x64/CMakeFiles/3.28.0-msvc1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
simple_chatapp/build/windows/x64/CMakeFiles/69ec63e6df3eb2ed8e1f6042db24a209/INSTALL_force.rule
simple_chatapp/build/windows/x64/CMakeFiles/7eb825019fd8e93885cc40881be7c7ff/generate.stamp.rule
simple_chatapp/build/windows/x64/CMakeFiles/7eb825019fd8e93885cc40881be7c7ff/INSTALL_force.rule
simple_chatapp/build/windows/x64/CMakeFiles/997a56792170352f85071b7248169490/flutter_assemble.rule
simple_chatapp/build/windows/x64/CMakeFiles/997a56792170352f85071b7248169490/INSTALL_force.rule
simple_chatapp/build/windows/x64/flutter/cmake_install.cmake
simple_chatapp/build/windows/x64/flutter/flutter_assemble.vcxproj
simple_chatapp/build/windows/x64/flutter/flutter_assemble.vcxproj.filters
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.vcxproj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.vcxproj.filters
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.vcxproj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.vcxproj.filters
simple_chatapp/build/windows/x64/flutter/INSTALL.vcxproj
simple_chatapp/build/windows/x64/flutter/INSTALL.vcxproj.filters
simple_chatapp/build/windows/x64/flutter/CMakeFiles/generate.stamp
simple_chatapp/build/windows/x64/flutter/CMakeFiles/generate.stamp.depend
simple_chatapp/build/windows/x64/flutter/Debug/flutter_wrapper_app.lib
simple_chatapp/build/windows/x64/flutter/Debug/flutter_wrapper_app.pdb
simple_chatapp/build/windows/x64/flutter/Debug/flutter_wrapper_plugin.lib
simple_chatapp/build/windows/x64/flutter/Debug/flutter_wrapper_plugin.pdb
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/core_implementations.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_engine.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_view_controller.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_wrapper_app.lib.recipe
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/standard_codec.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/CL.command.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/Cl.items.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/CL.read.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/CL.write.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/flutter_wrapper_app.lastbuildstate
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/Lib-link.read.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/Lib-link.write.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.2580BF90.tlog/Lib.command.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/core_implementations.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_wrapper_plugin.lib.recipe
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/plugin_registrar.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/standard_codec.obj
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/CL.command.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/Cl.items.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/CL.read.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/CL.write.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/flutter_wrapper_plugin.lastbuildstate
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/Lib-link.read.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/Lib-link.write.1.tlog
simple_chatapp/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.13E3013A.tlog/Lib.command.1.tlog
simple_chatapp/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.recipe
simple_chatapp/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/flutter_assemble.lastbuildstate
simple_chatapp/build/windows/x64/runner/ALL_BUILD.vcxproj
simple_chatapp/build/windows/x64/runner/ALL_BUILD.vcxproj.filters
simple_chatapp/build/windows/x64/runner/cmake_install.cmake
simple_chatapp/build/windows/x64/runner/INSTALL.vcxproj
simple_chatapp/build/windows/x64/runner/INSTALL.vcxproj.filters
simple_chatapp/build/windows/x64/runner/runner.sln
simple_chatapp/build/windows/x64/runner/start.vcxproj
simple_chatapp/build/windows/x64/runner/start.vcxproj.filters
simple_chatapp/build/windows/x64/runner/CMakeFiles/generate.stamp
simple_chatapp/build/windows/x64/runner/CMakeFiles/generate.stamp.depend
simple_chatapp/build/windows/x64/runner/Debug/flutter_windows.dll
simple_chatapp/build/windows/x64/runner/Debug/start.exe
simple_chatapp/build/windows/x64/runner/Debug/start.pdb
simple_chatapp/build/windows/x64/runner/Debug/data/icudtl.dat
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/AssetManifest.bin
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/AssetManifest.json
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/FontManifest.json
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/kernel_blob.bin
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/NOTICES.Z
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/fonts/MaterialIcons-Regular.otf
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
simple_chatapp/build/windows/x64/runner/Debug/data/flutter_assets/shaders/ink_sparkle.frag
simple_chatapp/build/windows/x64/runner/start.dir/Debug/flutter_window.obj
simple_chatapp/build/windows/x64/runner/start.dir/Debug/generated_plugin_registrant.obj
simple_chatapp/build/windows/x64/runner/start.dir/Debug/main.obj
simple_chatapp/build/windows/x64/runner/start.dir/Debug/Runner.res
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.exe.recipe
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.ilk
simple_chatapp/build/windows/x64/runner/start.dir/Debug/utils.obj
simple_chatapp/build/windows/x64/runner/start.dir/Debug/vc143.pdb
simple_chatapp/build/windows/x64/runner/start.dir/Debug/win32_window.obj
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/CL.command.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/Cl.items.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/CL.read.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/CL.write.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/link.command.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/link.read.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/link.secondary.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/link.write.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/rc.command.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/rc.read.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/rc.write.1.tlog
simple_chatapp/build/windows/x64/runner/start.dir/Debug/start.tlog/start.lastbuildstate
simple_chatapp/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
simple_chatapp/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
simple_chatapp/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/INSTALL/INSTALL.recipe
simple_chatapp/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/INSTALL.lastbuildstate
simple_chatapp/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
simple_chatapp/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
simple_chatapp/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
simple_chatapp/build/f4da31578bf74e160393d588ebd02ee2.cache.dill.track.dill
simple_chatapp/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_build.d
simple_chatapp/build/app/intermediates/flutter/debug/libs.jar
simple_chatapp/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
simple_chatapp/build/app/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
simple_chatapp/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
simple_chatapp/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/3AeRwZ2mkH76UHedCg9QH1B3fBg=
simple_chatapp/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
simple_chatapp/build/app/kotlin/compileDebugKotlin/cacheable/last-build.bin
simple_chatapp/build/app/kotlin/compileDebugKotlin/local-state/build-history.bin
simple_chatapp/build/app/outputs/apk/debug/app-debug.apk
simple_chatapp/build/app/outputs/flutter-apk/app-debug.apk
simple_chatapp/build/app/outputs/flutter-apk/app-debug.apk.sha1
